@import "tailwindcss";


.container {
  padding-left: 1.5rem;
  padding-righ: 1.5rem;
}
body {
  font-family: 'Poppins', sans-serif;
}


@media (min-width: 768px) {
  .container {
    padding-left: 2rem;       /* 32px */
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 3rem;       /* 48px */
    padding-right: 3rem;
  }
}

/* swiper Custom bullets */
.custom-bullets {
  display: flex;
  gap: 30px;
  align-items: center;
}

.custom-bullet {
  font-size: 22px;
  font-weight: 600;
  opacity: 0.3;
  cursor: pointer;
  transition: 0.35s ease;
}

.custom-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  color: black;
}

.custom-bullet.swiper-pagination-bullet-active::after {
  content: "";
  display: block;
  width: 28px;
  height: 3px;
  background: black;
  margin-top: 6px;
  border-radius: 20px;
}

/* strokers for what we do page */

/* globals.css */
.stroke-text {
  -webkit-text-stroke: 1px #10b981; /* teal-500 stroke */
  text-stroke: 1px #10b981;
}
